<ion-grid  [ngSwitch]="'SegmentDriver'" style="height:100%">
    <ion-row justify-content-center align-items-center style="height:100%">
        <ion-card>
            <ion-card-content>
              <ion-item style="text-align: center">
                  <p> You have no rides planned at the moment.</p>
                  <ion-icon  ios="ios-map" md="md-map" id="PictureNoRides"></ion-icon>
                  <p>create new trip</p>
                  <ion-icon name="add-circle" id="AddRides"></ion-icon>
              </ion-item>   
            </ion-card-content>
          </ion-card>
    </ion-row>
  </ion-grid>